<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title style="font-size: 23px">{{card.name}}</mat-card-title>
    <mat-card-subtitle style="font-size: 10px">Понравилось: {{card.like.count}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="card.img" [alt]="card.name">
  <mat-card-actions>
    <button mat-icon-button (click)="onLike(card._id)"><mat-icon style="color: red;">
      {{card.like.liked ? 'favorite' : 'favorite_border'}}
    </mat-icon></button>
    <button mat-button (click)="onInfo()">info</button>
  </mat-card-actions>
  <mat-card-content>
    <p class="description">{{card.description}}</p>
  </mat-card-content>
</mat-card>
